* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  color: white;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --cell-size: 145px;
}

body {
  background-color: #0e2a3a;
}

h1 {
  font-size: 45px;
}

.container {
  position: absolute;
  top: 25%;
  left: 35%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.game-board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  gap: 10px;
  max-width: 500px;
}

.grid-cell {
  background-color: #3e5461;
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.2s;
}

.grid-cell:hover {
  background-color: #0b212d;
}

.grid-cell:active {
  transform: translateY(6px);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#restart {
  background-color: #df3b2f;
  color: white;
  padding: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 7px #666;
  margin: 10px;
  font-size: 16px;
}

#restart:hover {
  background-color: rgb(255, 0, 0);
}

#restart:active {
  background-color: #df3b2f;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.game-result {
  text-align: center;
  margin: 20px;
  font-size: 25px;
}

.display {
  margin: 10px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

.disable-game {
  pointer-events: none;
}
